body{
	background-color: mediumaquamarine;
}
.contendor{
	width: 100%;
	height: 850px;
	background-color: white;
	position: relative;
}
.izquierda{
	width: 50%;
	float: left;
	position: relative;
	height: 800px;
	background-color: white;
}
.centro{
	width: 25%;
	float: left;
	position: relative;
	height: 800px;
	background-color: white;
	color: mediumaquamarine;
	/*text-align: white;*/
}
.derecha{
	width: 25%;
	float: left;
	position: relative;
	height: 800px;
	background-color: white;
}
.opcion{
	list-style: none;
	margin: 40px;
}
.opcion li{
	font-size: 15px;
	margin: 32px
}
.opcion li a{
	width: 300px;
	padding: 10px;
	border: 2px solid lightgray;
	background-color: white;
	color: black;
	text-decoration: none;
}

.opcion a:hover{
	/*padding: 5px*/
	border: 2px solid gray;
	background-color: gray;
	color: white;
}

.menu{
	list-style: none;
	margin: 40px;
}
.menu li{
	font-size: 20px;
	margin: 32px
}
.menu li a{
	width: 300px;
	padding: 10px;
	border: 2px solid lightgray;
	background-color: white;
	color: black;
	text-decoration: none;
}

.menu a:hover{
	/*padding: 5px*/
	border: 2px solid mediumaquamarine;
	background-color: mediumaquamarine;
	color: white;
}
.contendor2{
	width: 100%;
	height: 400px;
	background-color: mediumaquamarine;
	position: relative;
}
.izq{
	width: 50%;
	float: left;
	position: relative;
	height: 350px;
	background-color: mediumaquamarine;
}
.der{
	width: 50%;
	float: left;
	position: relative;
	height: 350px;
	background-color: mediumaquamarine;
}
.centro2{
	width: 100%;
	float: left;
	position: relative;
	height: 400px;
	background-color: dimgrey;
}
.centro2 li{
	font-size: 20px;
	margin: 32px
}
.centro2 li a{
	width: 300px;
	padding: 10px;
	border: 2px solid lightgray;
	background-color: white;
	color: black;
	text-decoration: none;
}

.centro2 a:hover{
	/*padding: 5px*/
	border: 2px solid mediumaquamarine;
	background-color: mediumaquamarine;
	color: white;
}